.search-form {
    display: flex;
    background-color: white;
    height: 50px;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 3px 3px 4px gray;
    margin-top: 30px;
}

.select-wrap-area,
.select-wrap-genre {
    position: relative;
    display: inline-block;
    width: 100px;
}

.form__area,
.form__genre {
    background-image: url(../icon/矢印アイコン\　下4色変え.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    appearance: none;
    cursor: pointer;
}

.form__area,
.form__genre,
.form__keyword {
    width: 100%;
    height: 35px;
    margin: 5px;
    font-weight: 550;
    border: none;
    padding-left: 10px;
}

.form__genre {
    border-left: 2px solid lightgray;
}

.form__keyword {
    width: 300px;
    padding: 0px 0 0px 3em;
    border-left: 2px solid lightgray;
}

.search-form__keyword {
    display: inline-block;
    position: relative;
}

/* 虫眼鏡アイコン */
.search-form__keyword::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(../icon/虫眼鏡アイコン色変え.svg) no-repeat center center /
        auto 100%;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
}

.system-shoplist {
    display: flex;
    justify-content: center;
}

.shoplist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 93%;
}

.shop-card {
    width: 23%;
    height: 320px;
    margin-left: 20px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.card__image {
    height: 50%;
}

.card__image__shop {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card__text {
    padding-top: 30px;
    padding-left: 20px;
}

.card__text__name {
    font-weight: 550;
    font-size: 20px;
    padding-bottom: 15px;
}

.text__hushtag-list {
    display: flex;
}

.text__hushtag-list__area,
.text__hushtag-list__genre {
    padding-right: 10px;
    font-size: 15px;
    color: rgb(58, 57, 57);
}

.hushtag {
    font-size: 13px;
}

.card__button {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.card__button__shop-detail {
    background-color: blue;
    border-radius: 5px;
    height: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 14px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}

.message__none {
    font-weight: 550;
}

.like__image {
    width: 40px;
    height: 35px;
    cursor: pointer;
}

.like__button {
    border: none;
    background: none;
}

@media screen and (max-width: 768px) {
    .form__keyword {
        width: 110px;
    }
    .shop-card {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .search-form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        height: 200px;
    }

    .search-form__keyword {
        width: 100%;
        border-top: 2px solid lightgray;
    }
    .form__keyword {
        border-left: none;
        width: 80%;
    }

    .select-wrap-area,
    .select-wrap-genre {
        width: 45%;
    }
    .shop-card {
        width: 43%;
        height: 200px;
        margin-left: 15px;
    }
    .card__text {
        padding-top: 15px;
        padding-left: 10px;
    }
    .card__text__name {
        font-size: 15px;
        padding-bottom: 10px;
    }
    .text__hushtag-list__area,
    .text__hushtag-list__genre {
        font-size: 10px;
    }

    .hushtag {
        font-size: 9px;
    }

    .card__button {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 5px;
    }
    .card__button__shop-detail {
        height: 13px;
        padding: 5px 10px;
        font-size: 8px;
    }
    .like__image {
        width: 25px;
        height: 25px;
    }
}
