.reservation {
    width: 40%;
    margin-left: 50px;
    margin-top: 50px;
}

.reservation__title {
    font-size: 20px;
    padding-bottom: 30px;
}

.reservation__card {
    background-color: blue;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 4px gray;
}

.reservation__card__header {
    display: flex;
    padding: 30px 20px;
}

.reservation__card__image {
    width: 25px;
}

.reservation__card__title {
    color: white;
    padding-left: 20px;
    padding-top: 5px;
}

.reservation__card__check {
    margin-left: 20px;
}

.check__shop__title,
.check__date__title,
.check__time__title,
.check__number__title {
    padding-right: 30px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: normal;
}

.check__shop__title-word,
.check__date__title-word,
.check__time__title-word,
.check__number__title-word {
    color: white;
    font-size: 14px;
}

.check__shop__output-word,
.check__date__output-word,
.check__time__output-word,
.check__number__output-word,
.check__number__people {
    color: white;
    font-size: 14px;
}

.check__number__output {
    display: flex;
}
