.mylist {
    display: flex;
}

.reservation {
    width: 40%;
    margin-left: 50px;
    margin-top: 78px;
}

.reservation__title {
    font-size: 20px;
    padding-bottom: 30px;
}

.reservation__card {
    background-color: blue;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 4px gray;
}

.reservation__card__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.reservation__card__title {
    display: flex;
}

.reservation__image {
    width: 25px;
}

.reservation__word {
    color: white;
    padding-left: 20px;
    padding-top: 5px;
}

.delete__button {
    border: none;
    background: none;
}

.delete__image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.reservation__card__check {
    margin-left: 20px;
}

.check__shop__title,
.check__date__title,
.check__time__title,
.check__number__title {
    padding-right: 30px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: normal;
}

.check__shop__title-word,
.check__date__title-word,
.check__time__title-word,
.check__number__title-word {
    color: white;
    font-size: 14px;
}

.check__shop__output-word,
.check__date__output-word,
.check__time__output-word,
.check__number__output-word,
.check__number__people {
    color: white;
    font-size: 14px;
}

.check__number__output {
    display: flex;
}

.user-name {
    font-size: 25px;
    padding-bottom: 50px;
}

.likes__title {
    font-size: 20px;
    padding-bottom: 30px;
}

.likes {
    width: 50%;
    margin-left: 50px;
}

.likeslist {
    display: flex;
    flex-wrap: wrap;
}

.shop-card {
    width: 45%;
    height: 320px;
    margin-right: 30px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.card__image {
    height: 50%;
}

.card__image__shop {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card__text {
    padding-top: 30px;
    padding-left: 20px;
}

.card__text__name {
    font-weight: 550;
    font-size: 20px;
    padding-bottom: 15px;
}

.text__hushtag-list {
    display: flex;
}

.text__hushtag-list__area,
.text__hushtag-list__genre {
    padding-right: 10px;
    font-size: 15px;
    color: rgb(58, 57, 57);
}

.hushtag {
    font-size: 13px;
}

.card__button {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.card__button__shop-detail {
    background-color: blue;
    border-radius: 5px;
    height: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 14px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}

.message__none {
    font-weight: 550;
}

.like__image {
    width: 40px;
    height: 35px;
    cursor: pointer;
}

.like__button {
    border: none;
    background: none;
}

@media screen and (max-width: 768px) {
    .shop-card {
        height: 200px;
        width: 40%;
    }
    .card__text {
        padding-top: 15px;
        padding-left: 10px;
    }
    .card__text__name {
        font-size: 18px;
    }
    .text__hushtag-list__area,
    .text__hushtag-list__genre {
        font-size: 11px;
    }
    .hushtag {
        font-size: 10px;
    }

    .card__button {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 5px;
    }
    .card__button__shop-detail {
        height: 10px;
        padding: 6px 5px;
        font-size: 8px;
    }
    .like__image {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 480px) {
    .system-header {
        height: 80px;
        padding-bottom: 30px;
    }
    .reservation {
        margin-left: 10px;
        margin-top: 58px;
    }
    .reservation__card {
        padding-bottom: 0px;
    }

    .reservation__card__header {
        padding: 15px 10px;
    }
    .reservation__image {
        width: 18px;
    }
    .reservation__word {
        padding-left: 10px;
        font-size: 13px;
    }
    .delete__image {
        width: 18px;
        height: 18px;
    }
    .reservation__card__check {
        margin-left: 10px;
    }

    .check__shop__title,
    .check__date__title,
    .check__time__title,
    .check__number__title {
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .check__shop__title-word,
    .check__date__title-word,
    .check__time__title-word,
    .check__number__title-word,
    .check__shop__output-word,
    .check__date__output-word,
    .check__time__output-word,
    .check__number__output-word {
        font-size: 10px;
    }

    .likes {
        margin-left: 20px;
    }

    .user-name {
        padding-bottom: 30px;
    }
    .shop-card {
        margin-right: 10px;
        width: 100%;
    }
}
