body {
    background-color: lightgray;
}

.systemHeader {
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 30px 50px;
}

.header_top {
    display: flex;
    position: relative;
}

.menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 2px 3px gray;
    background-color: blue;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
    left: 10px;
}

.menu__line--top {
    top: 15px;
    width: 30%;
}

.menu__line--middle {
    top: 25px;
    width: 60%;
}

.menu__line--bottom {
    bottom: 15px;
    width: 20%;
}

.menu_title {
    height: 50px;
    padding: 10px 30px;
}
.systemName {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

.searchForm {
    background-color: white;
    height: 50px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.form_area,
.form_genre,
.form_keyword {
    width: 100px;
    height: 35px;
    margin: 5px;
    font-weight: 550;
    border: none;
    padding-left: 10px;
}

.form_genre {
    border-left: 2px solid lightgray;
}

/* 虫眼鏡（擬似要素）が必要 */
.form_keyword {
    width: 300px;
    border-left: 2px solid lightgray;
}

.shopList {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.shopCard {
    width: 300px;
    height: 320px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.card_image {
    height: 50%;
}

.shop_image {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card_text {
    padding-top: 30px;
    padding-left: 20px;
}

.text_name {
    font-weight: 550;
    font-size: 20px;
    padding-bottom: 15px;
}

.text_hushtagList {
    display: flex;
}

.area,
.genre {
    padding-right: 10px;
    font-size: 15px;
    color: rgb(58, 57, 57);
}

/*ハッシュタグ、擬似要素にしたらどうだろう？ */
.hushtag {
    font-size: 13px;
}

.card_button {
    padding-top: 30px;
    padding-left: 20px;
}

.shopDetail {
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 8px 14px;
}
