.system-reservation {
    display: flex;
    padding-left: 50px;
}

.shopdetail {
    width: 50%;
}

.infomation__title {
    display: flex;
    padding-bottom: 30px;
}

.infomation__title__button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 3px 10px 8px 8px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.infomation__top__shopname {
    padding-left: 15px;
    padding-top: 3px;
    font-size: 25px;
    font-weight: bold;
}

.infomation__image__shop {
    width: 90%;
    padding-bottom: 30px;
}

.infomation__tag {
    display: flex;
    padding-bottom: 30px;
}

.hashtag {
    font-size: 13px;
}

.infomation__tag__area,
.infomation__tag__genre {
    padding-left: 5px;
    font-size: 15px;
}

.infomation__content {
    width: 90%;
}

.infomation__content__summary {
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 20px;
}

.reservation {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 500px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px gray;
}

.reservation__title {
    color: white;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 20px;
}

.reservation__form {
    display: flex;
    flex-direction: column;
}

.reservation__date,
.reservation__time,
.reservation__number {
    margin: 10px 0px;
    padding: 5px 0px;
    border-radius: 5px;
    border: none;
}

.reservation__date {
    width: 200px;
}

.reservation__time,
.reservation__number {
    width: 450px;
}

.reservation__check {
    background-color: rgb(62, 119, 243);
    margin-top: 10px;
    padding: 20px 20px;
}
