body {
    background-color: lightgray;
}

.system-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0px 50px 50px 50px;
    position: relative;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.box {
    width: 380px;
    border-radius: 5px;
    box-shadow: 3px 2px 3px gray;
}

.box__title {
    padding: 20px 15px;
    background-color: blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box__title__name {
    color: white;
}

.box__content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.box__content__form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    display: flex;
}
.form__text {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.form__text__title {
    font-size: 13px;
    padding-top: 3px;
    padding-right: 10px;
    color: gray;
}

.form__text__name {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.form__text__image {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.form__button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    margin: 10px 20px 20px 0px;
    cursor: pointer;
}

.box__content__button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form__error {
    padding-left: 30px;
    padding-bottom: 5px;
}

.error-message {
    color: red;
    font-size: 10px;
}
